.header {
 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1410px;
  height: 116px;
  left: 80px;
  top: 35px;
}
.logo1 {
  display: flex;
  width: 41px;
  height: 41px;
  left: 21px;
  top: 45px;
}
.menu {
  justify-content: space-between;
  margin-left: 50px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #b8becd;
  width: 803px;
  height: 60px;

  top: 35px;
}

.lr {
  display: flex;
  justify-content: space-evenly;
  width: 353px;
  height: 60px;
}
.onass{
  text-decoration: none;

}
.onas {
  text-decoration: none;
  color: rgb(52, 36, 196);
}
.home1:hover {
    content: "";
  border-bottom: 3px solid rgb(13, 11, 114);
  background-color: aliceblue;
}
.login1 {
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  width: 150px;
  color: #000000;
  border-color: #1d63fb;
  align-items: center;
  border-radius: 8px;
  content: "";
  display: inline;
  background: white;
  border-top: 8px solid color #fb8f1d;
}
.login1:active {
  margin-top: 5px;
}
.login2 {
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  width: 150px;
  color: white;
  border: none;
  align-items: center;
  border-radius: 8px;
  content: "";
  display: inline;
  background: #211dfb;
  border-top: 8px solid color #fb8f1d;
}
.login2:active {
  margin-top: 5px;
}


.form-control-dark:focus:active {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgb(255, 255, 255);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.d-flex{
  max-width: 1400px;
}

.d-block {
  max-height: 450px;
}
body {
  background-color: #f5f7fa;
  }
  
  .card.map-card .living-coral {
  background-color: #fa7268;
  }
  
  .card.map-card .living-coral-text {
  color: #fa7268;
  }
  
  .card.map-card .table th {
  width: 2rem;
  }
  
  .card.map-card .pt-3-5 {
  padding-top: 1.25rem;
  }
  
  .card.map-card .card-body {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  }
  
  .card.map-card .card-body.closed {
  top: 100%;
  height: 7.5rem;
  margin-top: -7.5rem;
  }
  
  .card.map-card .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  }
  
  .card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  }
  
  .card.map-card .button .btn-floating {
  margin-top: -1.5rem;
  }

  .container-fluid {
    max-width: 1400px;
  }
 .nav-link {
  font-family: "Inter";
  font-style: normal;
  color: #000000;

  
 }
 .thos {
  width: 450px;
}
 .text2 {
  margin-top: 100px;
  left: 56.38%;
  right: 13.56%;
  top: 21.53%;
  bottom: 76.68%;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}
 .text3 {
  margin-top: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}