.section2 {
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.main2 {
  display: flex;
  justify-self: center;
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.block3 {
  margin: 50px;
  display: flex;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.thos {
  width: 600px;
}
.block4 {
  margin: 50px;
  display: flex;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.text2 {
  margin-top: 100px;
  left: 56.38%;
  right: 13.56%;
  top: 21.53%;
  bottom: 76.68%;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}
.text3 {
  margin-top: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;

  color: #7d7987;
}
.Learn {
  display: flex;
}
.Learn1 {
  display: inline;
  margin-top: 20px;
  width: 164px;
  height: 60px;
  left: 902px;
  top: 1476px;
  color: white;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border-radius: 8px;
  border-radius: 8px;
  content: "";
  display: inline;
  background: #fb8f1d;
  border-top: 8px solid color #fb8f1d;
}
.Learn1:active {
  margin-top: 5px;
}
