.section5 {
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.main6 {
  display: flex;
  justify-content: space-evenly;
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.block7 {
  margin-top: 30px;
  margin-right: 60px;
  width: 500px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.block8 {
  margin-top: 30px;
  width: 600px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.Testimonials {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  text-align: left;

  color: #000000;
}
.stars {
  margin-top: 160px;

  width: 189.02px;
  height: 24px;
  left: 240px;
  top: 3593px;
}
.Quisque {
  margin-top: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}
.Edward {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;

  color: #000000;
}
.Founder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;

  color: rgba(0, 0, 0, 0.85);
}
