.section4 {
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.main5 {
  display: flex;
  justify-content: space-evenly;
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.block5 {
  margin-top: 30px;

  width: 420px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.block6 {
  margin-top: 30px;
  width: 600px;
  height: 654px;
  left: 808px;
  top: 167px;
}
.Cuides {
  margin-top: 150px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}
.Packed {
  margin-top: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;

  color: #7d7987;
}
.Download {
  margin-top: 60px;
  border: white;
  height: 48px;
  width: 164px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.Download:hover {
  align-items: center;
  border-radius: 8px;
  content: "";
  display: inline;
  background: #fb8f1d;
  border-top: 8px solid color #fb8f1d;
}
