.section6 {
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.main7 {
  width: 1410px;
  height: 786px;
  left: 80px;
  top: 55px;
}
.block9 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 1410px;
  height: 154px;
  left: 808px;
  top: 167px;
}
.block10 {
  display: flex;
  justify-content: space-evenly;
  width: 1410px;
  height: 632px;
  left: 808px;
}
.block11 {
  width: 250px;
  height: 500px;
  left: 808px;
  top: 167px;
}
.Trending {
  margin-top: 20px;
  margin-right: 850px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}
.the {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
}
.Helaing {
  margin: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  color: #7d7987;
}
.Read {
  margin-top: 10px;
  background-color: white;
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;

  color: #fb8f1d;
}
.Read:hover {
  border-radius: 8px;
  content: "";
  display: inline;
  background-color: aliceblue;
  border-top: 10px solid color #fb8f1d;
}
.image12 {
  width: 250px;
  height: 233px;
  left: 743px;
  top: 4388px;

  border-radius: 8px;
}
.block12 {
  width: 250px;
  height: 500px;
  left: 808px;
  top: 167px;
}
.block13 {
  width: 260px;
  height: 500px;
  left: 808px;
  top: 167px;
}
.block14 {
  width: 260px;
  height: 500px;
  left: 808px;
  top: 167px;
}
.view:hover {
  border-radius: 8px;
  content: "";
  display: inline;

  border-top: 8px solid color #fb8f1d;
}
